<form method="post" action="{{ path('app_photo_voiture_delete', {'id': photo.id}) }}" onsubmit="return confirm('Are you sure?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ photo.id) }}">
    <button class="btn">Delete</button>
</form>
