{% extends 'base.html.twig' %}

{% block body %}
<div class="text-center">
    <h1>Location de voitures au Maroc</h1>
    <p class="lead">Réservez votre voiture facilement</p>
    <a href="#" class="btn btn-primary btn-lg">Voir les voitures</a>
</div>
{% endblock %}
