{% extends 'base.html.twig' %}

{% block title %}New Admin{% endblock %}

{% block body %}
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<div class="container mt-4">
    <h1>Create new Admin</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Create</button>
    {{ form_end(form) }}

    <a href="{{ path('app_admin_users') }}">back to list</a>
</div>
{% endblock %}