{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    <h1>Create new Client</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Create</button>
    {{ form_end(form) }}

    <a href="{{ path('app_client_index') }}">back to list</a>
{% endblock %}
